/*=== Navbar Styling ===*/
.navbar {
  height: 63px;
}

.navsearch-bar {
  margin-right: 2%;
}


.card-group {
  margin-top: 8%;
}

.card-img-top {
  width: 250px;
  height: 350px;
}





/*====== Movie Detail Page Styling ======*/
.movie-detail-img {
  width: 300px;
  height: 450px;
}

.movie-detail-wrapper {
  margin-top: 9%;
}
